<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>PictoBoards</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/logo.png" alt="pictoboards logo"/></a>
    <div class="navlink"><a href="/maker">Picto Maker</a></div>
    <div class="navlink"><a href="/user">Your Pictos</a></div>
    <div class="navlink"><a href="/community">Community Pictos</a></div>
    <div class="selectedNav"><a href="/store">Store</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <h1 class="centerAlign">Welcome to the PictoBoards store!</h1>

  <h3 class="centerAlign">The Border Pack</h3>
  <section id="borderForm" class="centerAlign">
    
  </section>

  <h3 class="centerAlign">The Color Pack</h3>
  <section id="colorForm" class="centerAlign">
    
  </section>

  <div id="pictoMessage" class='hidden'>
    <h3 class="centerAlign"><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/storeBundle.js"></script>
</body>
</html>
