html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: #eeeeee;
    font-family: tahoma, verdana, sans serif;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: black;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}


.selectedNav {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: #f4ff5f;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: black;
    transition: background-color 0.4s ease;
}

.selectedNav a, .selectedNav a:link, .selectedNav a:visited, .selectedNav a:hover, .selectedNav a:active {
    color: #f4ff5f;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: black;
    transition: background-color 0.4s ease;
}


.navlink a:hover, .selectedNav a:hover {
    transition: background-color 0.8s ease;
    background-color: #f4ff5f;
    transition: color 0.4s ease;
    color: black;
}


label{
    font-size: 12px;
    margin-right:0.75em;
    float: left;
}


.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #55acee;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}

#pictoMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#pictoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#mainCanvas {
    display: block;
    background: #ffffff;
    z-index: 0;
    left: 10px;
    margin-top: 20px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
 }

 #controls {
    display: block;
    z-index: 2;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 33%;
 }

 .scrollFeed, .gridFeed {
    display: block;
    margin-top: 20px;
 }

 .pictoPostBlack {
    border-radius: 25px;
    border: 6px solid black;
    height: 40%;
    width: auto;
 }

 .pictoPostPurple {
    border-radius: 25px;
    border: 6px solid purple;
    height: 40%;
    width: auto;
 }

 .pictoPostGold {
    border-radius: 25px;
    border: 6px solid gold;
    height: 40%;
    width: auto;
 }

 .picto {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
 }

 .userPictoList {
    display: inline-grid;
    grid-template-columns: repeat(5, 350px [col-start]);
 }

 .userPicto {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }

 #recentLabel {
    justify-self: center;
 }